name: Testsuite

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt install -y sqlite3 make gcc fuse3 libfuse3-dev libsodium-dev libssl-dev pkg-config autoconf automake
    - name: Generate an SQLite box
      run: |
        make -C test latest up wait init insert
        sudo make -C test clean
        sudo make -C test gen down
    - name: Comparing outputs
      run: |
        make -C test compare
    - name: Install crypt4gh-sqlite
      run: |
        git clone https://github.com/silverdaz/crypt4gh-sqlite.git
        cd crypt4gh-sqlite
        autoreconf -i
        ./configure
        make
        sudo make install
        sudo sed -i '/user_allow_other/s/^#.*user_allow_other$/user_allow_other/' /usr/local/etc/fuse.conf
    - name: Mounting the box and compare files
      run: |
        make -C test adjust mount
        make -C test check
    - name: Clean up
      run: |
        sudo make -C test unmount clean
